assignment 4/flowers/*
assignment 4/preprocessed/*
assignment 4/preprocessed2/*
assignment 4/preprocessed3/*
assignment 5/glove.6B.50d.txt
assignment 5/glove.6B.100d.txt
assignment 5/glove.6B.200d.txt
assignment 5/glove.6B.300d.txt
assignment 5/amazon_reviews_cleaned.csv
assignment 5/Reviews.csv
assignment 5/database.sqlite